div.keyshots-table-modal .desc {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  margin-top: 0;
}
div.keyshots-table-modal .divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
div.keyshots-table-modal .divider .opt {
  flex: 1;
}
div.keyshots-table-modal .divider .geometry-label {
  font-family: var(--font-monospace);
  text-align: center;
  line-height: 2em;
  height: 2em;
}
div.keyshots-table-modal .divider table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
div.keyshots-table-modal .divider table td {
  width: 1.5em;
  height: 1.5em;
  transition: background-color ease-in-out 0.05s;
  cursor: pointer;
  position: relative;
}
div.keyshots-table-modal .divider table td:nth-child(1) {
  opacity: 0.5;
  cursor: initial;
}
div.keyshots-table-modal .divider table td::before {
  border: 0.1px solid #888;
  content: "";
  display: block;
  width: calc(100% - 0.3em);
  height: calc(100% - 0.3em);
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.keyshots-table-modal .divider table td.hovered::before {
  background: #313131;
}
