div.keyshots-table-modal {
    .desc {
        font-style: italic;
        font-size: 0.9em;
        text-align: center;
        margin-top: 0;
    }
    .divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        .opt {
            flex: 1;
        }

        .geometry-label {
            font-family: var(--font-monospace);
            text-align: center;
            line-height: 2em;
            height: 2em;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            border-spacing: 0;
            td {
                width: 1.5em;
                height: 1.5em;
                transition: background-color ease-in-out .05s;
                cursor: pointer;
                position: relative;

                &:nth-child(1){
                    opacity: 0.5;
                    cursor: initial;
                    pointer-events: none;
                }
                &::before {
                    border: 0.1px solid #888;
                    content: "";
                    display: block;
                    width: calc(100% - 0.3em);
                    height: calc(100% - 0.3em);
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &.hovered::before {
                    background: var(--color-base-30);
                }
            }
        }
    }
}

div.modal-container.keyshots-regex {
    & > div.modal {
        width: initial;

        div.content-divider {
            display: flex;
            gap: 1em;

            div.options-ctr {
                input[type=text]{
                    font-family: var(--font-monospace);
                    &.invalid {
                        box-shadow: 0 0 0 2px rgba(var(--color-red-rgb),0.5);
                        border-color: rgba(var(--color-red-rgb),0.5);
                    }
                }
            }
            div.preview-ctr {
                h2 {
                    text-align: center;
                    margin: 0.2em;
                }
                div.preview {
                    width: calc(400px / var(--zoom-factor));
                    aspect-ratio: 9/12;
                    padding: 1em;
                    box-sizing: border-box;
                    border: 1px solid var(--background-modifier-border);
                    border-radius: 0.5em;
                    zoom: 0.8;
                    overflow: auto;
                    &.raw {
                        white-space: pre;
                    }
                    span.keyshots-regex-match {
                        box-shadow: 0 0 0 3px var(--text-accent);
                        mix-blend-mode: var(--highlight-mix-blend-mode);
                        border-radius: 2px;
                    }
                }
                div.setting-item {
                    border-top: none;
                }
            }
        }
        div.matches {
            transition: color ease-in-out 0.15s;
            &.invalid{
                color: var(--text-error);
            }
        }
    }
}

div.keyshots-table-modal, div.modal-container.keyshots-regex {
    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}


body.keyshots-focus-mode {
    div.side-dock-ribbon, div.sidebar-toggle-button {
        display: none;
    }
}

div.keyshots-settings {
    .is-disabled {
        opacity: 0.5;
    }
    .indent {
        padding-left: 2em;
    }
}